/ cards
%section
  .container-fluid
    .row
      .col-xl-10.col-lg-9.col-md-8.ml-auto
        .row.pt-md-5.mt-md-3.mb-5
          .col-xl-3.col-sm-6.p-2
            .card.card-common
              .card-body
                .d-flex.justify-content-between
                  %i.fas.fa-shopping-cart.fa-3x.text-warning
                  .text-right.text-secondary
                    %h5 Sales
                    %h3 $135,000
          .col-xl-3.col-sm-6.p-2
            .card.card-common
              .card-body
                .d-flex.justify-content-between
                  %i.fas.fa-money-bill-alt.fa-3x.text-success
                  .text-right.text-secondary
                    %h5 Expenses
                    %h3 $39,000
          .col-xl-3.col-sm-6.p-2
            .card.card-common
              .card-body
                .d-flex.justify-content-between
                  %i.fas.fa-users.fa-3x.text-info
                  .text-right.text-secondary
                    %h5 Users
                    %h3 15,000
          .col-xl-3.col-sm-6.p-2
            .card.card-common
              .card-body
                .d-flex.justify-content-between
                  %i.fas.fa-chart-line.fa-3x.text-danger
                  .text-right.text-secondary
                    %h5 Visitors
                    %h3 45,000
/ end of cards