/ tables
%section
  .container-fluid
    .row.mb-5
      .col-xl-10.col-lg-9.col-md-8.ml-auto
        .row.align-items-center
          .col-xl-6.col-12.mb-4.mb-xl-0
            = high_chart("sample", @h)