/ Sidebar
%nav#sidebar
  %ul.list-unstyled.components
    %li
      %a{:href => "#"} プロフィール
    %li
      %a{:href => "#"} ログアウト
    %li
      %a{:href => "#"} 入金一覧
    %li
      %a{:href => "#"} 支出一覧
